<div class="container mt-5 pt-4">
    <div class="row">
        <div class="col">
            <h1>Detail Customer</h1>
            <!-- Pengkondisian apabila data Contact tidak ditemukan -->
            <% if (!cst) { %>
              <div class="alert alert-danger" role="alert">
                Customer Data is not found! <br>
                <a href="/customer" class="card-link">Back to customer list page</a>
              </div>
            <% } else { %>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= cst.name %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= cst.mobile %></h6>
                  <p class="card-text"><%= cst.address %></p>
                  <br>
                  <a href="/customer/edit/<%= cst.id%>" class="badge rounded-pill btn-primary p-2">Edit</a>
                  <a href="/delete/<%= cst.id%>" class="badge rounded-pill btn-danger p-2">Delete</a>
                  <br>
                  <a href="/customer" class="card-link">Back to customer list page</a>
                  </div>
              </div>
            <% } %>
        </div>
    </div>
</div>