<div class="container">
    <div class="p-5" style="margin-top: 50px;">
        <h1>Edit Contact</h1>
        <p>This is edit contact form</p>
        <hr>
        <% if (!cont) { %>
            <div class="alert alert-danger" role="alert">
                Contact Data is not found! <br>
                <a href="/contact" class="card-link">Back to contact page</a>
            </div>
        <% } else { %>
            <br>
            <!-- Pengkondisian apabila terdapat error untuk memunculkan pesan alert -->
            <% if (typeof errors != 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% errors.forEach(error => { %>
                            <li><%= error.msg %> </li>
                            <% }) %>
                        </ul>
                    </div>
                    <% } %>
                    <form method="post" action="/edit/<%= cont.name %>" class="col-6">
                        <div class="mb-3">
                            <label for="inputName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="inputName" name="name" value="<%= cont.name %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="inputEmail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="inputEmail" name="email" value="<%= cont.email %>">
                        </div>
                        <div class="mb-3">
                            <label for="inputMobile" class="form-label">Mobile Phone</label>
                            <input type="number" class="form-control" id="inputMobile" name="mobile" value="<%= cont.mobile %>" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <% } %>
                </div>
            </div>