<% let rupiah = Intl.NumberFormat('id-ID') %>
<div class="container mt-5 pt-4">
    <div class="row">
        <div class="col">
            <h1>Detail Product</h1>
            <!-- Pengkondisian apabila data product tidak ditemukan -->
            <% if (!pdt) { %>
              <div class="alert alert-danger" role="alert">
                Product Data is not found! <br>
                <a href="/product" class="card-link">Back to Product list page</a>
              </div>
            <% } else { %>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <img src="../img/<%= pdt.img_product %>" width="250">
                  <h5 class="card-title"><%= pdt.code_product%> - <%= pdt.name_product %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= pdt.category %></h6>
                  <p class="card-text">Price per Kg: Rp. <%= rupiah.format(pdt.price_unit) %>
                    <br>Price per Sack: Rp. <%= rupiah.format(pdt.price_sack) %>
                    <br>Stock: <%= pdt.price_unit %> Kg
                  </p>
                  <% const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }; %> 
                  <p class="card-text">Added Date: <%= pdt.added_date.toLocaleDateString('id-ID', options) %></p>
                  <br>
                  <a href="/product/edit/<%= pdt.id %>" class="badge rounded-pill btn-primary p-2">Edit</a>
                  <a href="/delete/<%= pdt.id %>" class="badge rounded-pill btn-danger p-2">Delete</a>
                  <br>
                  <a href="/product" class="card-link">Back to product list page</a>
                  </div>
              </div>
            <% } %>
        </div>
    </div>
</div>