<div class="container">
    <div class="p-5" style="margin-top: 50px;">
        <h1>Add Product</h1>
        <p>This is add product form</p>
        <hr>
        <br>
        <!-- Pengkondisian apabila terdapat error untuk memunculkan pesan alert -->
        <% if (typeof errors != 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                <ul>
                    <% errors.forEach(error => { %>
                     <li><%= error.msg %> </li>
                    <% }) %>
                </ul>
            </div>
        <% } %>

        <!-- Pengkondisian apabila value sementara sudah terisi -->
        <% let tempValue %>
        <% if (locals.tempParams) { tempValue = tempParams %>
        <% } %> 

        <form method="post" action="/product" class="col-6" enctype="multipart/form-data">
            <!-- <div class="mb-3">
                <label for="inputCodePdt" class="form-label">Code Product</label>
                <input type="text" class="form-control" id="inputCodePdt" name="code_product" value="<%#= tempValue?.code_product %>">
            </div> -->
            <div class="mb-3">
                <label for="inputNamePdt" class="form-label">Name Product</label>
                <input type="text" class="form-control" id="inputNamePdt" name="name_product" value="<%= tempValue?.name_product %>" required>
            </div>
            <div class="mb-3">
                <label for="inputCategoryPdt" class="form-label">Category Product</label>
                <select class="form-control" id="inputCategoryPdt" name="category" aria-label="Default select example">
                    <option selected disabled>Select category product</option>
                    <option value="Beras Putih">Beras Putih</option>
                    <option value="Beras Merah">Beras Merah</option>
                    <option value="Beras Ketan">Beras Ketan</option>
                    <option value="Beras Hitam">Beras Hitam</option>
                </select>
            </div>
            <div class="form-row mb-3">
                <div class="input-group col">
                    <label for="inputPriceKg" class="form-label">Price per Kg</label>
                    <div class="input-group">
                        <span class="input-group-text form-control col-3">Rp.</span>
                        <input type="number" class="form-control" id="inputPriceKg" name="price_unit" value="<%= tempValue?.price_unit %>" required>
                    </div>
                </div>
                <div class="input-group col">
                    <label for="inputPriceSack" class="form-label">Price per Sack</label>
                    <div class="input-group">
                        <span class="input-group-text form-control col-3">Rp.</span>
                        <input type="number" class="form-control" id="inputPriceSack" name="price_sack" value="<%= tempValue?.price_unit %>" required>
                    </div>
                </div>
            </div>
            <label for="inputStock" class="form-label">Stock</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control" id="inputStock" name="stock" value="<%= tempValue?.stock %>" required>
                <span class="input-group-text form-control col-1">Kg</span>
            </div>
            <div class="mb-3">
                <label for="inputAddDate" class="form-label">Added Date</label>
                <input type="date" class="form-control" id="inputAddDate" name="added_date" min="2020-01-01" required>
            </div>
            <div class="input-group mb-4">
                <label for="inputImagePdt" class="form-label">Image Product</label>
                <input type="file" class="form-control-file" id="inputImagePdt" name="img_product" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>